.connt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.history-container {
  margin: 1%;
  padding: 20px;
  width: 100%; 
  max-width: 1300px;
  background-color:#7ca7d8;
  border: 3px solid #c2c6c656;
  border-radius: 50px;

}

.delete {
  width: 80px;
  padding: 10px 0;
  background-image: linear-gradient(to bottom, #c7737c, #92462f);
  color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #6ca8bc;
  border-radius: 15px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.delete:hover {
  background-image: linear-gradient(to bottom, white, rgb(230, 187, 187));
  color: black;
}
