.conn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-container {
  padding: 25px;
  border-radius: 8px;
  width: 80%; 
  max-width: 1200px;
  background-color: #333; 
  border: 3px solid #d9d8d7a9;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
}

.history-heading {
  font-size: 25px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-align: center; 
  margin-bottom: 20px; 
}

.history-table {
  width: 100%; 
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff; 
  border-radius: 8px;
  overflow: hidden; 
}

.history-table th, .history-table td {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #ddd; 
}

.title {
  font-weight: bold;
  color: #424D47;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: #f0f0f0;
}

.data {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
