.main-container-table{
    padding: 0px;
    position: relative;
    top: -235px;
    left: 60px;
    background-color: #4CAF50;
}
.table {
    width: 95px;
    height: 110px; 
    background-color: rgb(107, 80, 20);
    border: 2px solid black; 
    border-radius: 10px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    position: absolute;
    color:#f0b000;
    font-size: 16px;
    font-weight: bold;
}
