.history-container3 {
  margin: 1%;
  padding: 20px;
  width: 100%; 
  max-width: 800px;
  background-color: #7ca7d8;
  border: 3px solid #c2c6c656;
  border-radius: 50px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #7ca7d8;
}

.page-button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #c2c6c656;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 50px;
}

.page-button.active {
  background-color: #d07cd8;
  color: #ffffff;
}

.page-button:hover {
  background-color: #8bffff56;
}

.seat-image {
  width: 15px; 
  height: 15px;
}

.edit {
  width: 80px;
  padding: 10px 0;
  background-image: linear-gradient(to bottom, #75b0c2, #274a8d);
  color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #6ca8bc;
  border-radius: 15px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  transition: 0.3 ease ;
}

.edit:hover {
  background-image: linear-gradient(to bottom, #e3e5e6, #164280b2);
}