.history-container3 {
  margin: 1%;
  padding: 20px;
  width: 100%; 
  max-width: 800px;
  background-color: #7ca7d8;
  border: 3px solid #c2c6c656;
  border-radius: 50px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #7ca7d8;
}

.page-button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #c2c6c656;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 50px;
}

.page-button.active {
  background-color: #d07cd8;
  color: #ffffff;
}

.page-button:hover {
  background-color: #8bffff56;
}
