.side_container .choices{
    margin: 0;
    background-color: #9FBA00;

   
}
.choices{
    display: flex;
    justify-content:safe;
    background-color: #9FBA00;
}
.logo{
    font-size: 30px;
    margin: 30px;
    background-color: #9FBA00;
}
.choices a{
    color: white;
    padding: 40px;
    font-size: 20px;
    background-color: #9FBA00;
    font-family: Arial, sans-serif;
    
}


.pages:hover{
    color: #222625;
}