.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-image: url('https://lh3.googleusercontent.com/p/AF1QipOEPpGFmQ3MUN5Vkvc4D0-6X7eZuLbiSWcjRxbi=s1360-w1360-h1020');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 400px;
    padding: 20px;
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #e4aec57f;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.337);
}

.login-title {
    margin-bottom: 10px;
    font-size: 40px;
    color: rgb(22, 35, 22);
    background-color: #e4aec513;
    text-transform: uppercase;   
    font-weight: 900;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.login-title:hover{
    border-bottom: 1px  solid white;
    transition: 2s ease-in white;
}
.login-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #e8e8e8;
    color: black;
    border: 1px solid #2226255c;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #e4aec513;
}

.login-button {
    width: 100%;
    padding: 10px 0;
    background-image: linear-gradient(to bottom, #829460, #b27f95);
    color: #F2F2F2;
    border: 2px solid #22262534;
    border-radius: 8px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight:700;

}

.login-button:hover {
    background-image: linear-gradient(to bottom, #f2f2f2, #b27f9575);
    color: #333;
    border-color: #33333357;
    text-transform: uppercase;
    font-weight:700;
}