.login-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #E4AEC5;
}

.login-title {
    margin-bottom: 10px;
    font-size: 40px;
    color: black;
    background-color: #E4AEC5;
    text-transform: uppercase;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #F3C1C6;
    color: black;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-button {
    width: 300px;
    padding: 15px 0;

    background-color: #829460;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.login-button:hover {
    background-color: #f2f2f2;
    color: #333;
    border-color: #333;
}

