.footer {
  background-color: #00e2d2;
  color: #222625;
  padding: 5px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: x-small;
  width: 100%;
  box-sizing: border-box;
}

.contact-info {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0 auto;
  padding: 1em;
  max-width: 800px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-left,
.footer-right {
  margin: 10px 0;
  width: 100%;
}

.footer-left a,
.footer-right a {
  color: #f2f2f2;
  text-decoration: none;
}

.footer-left a:hover,
.footer-right a:hover {
  text-decoration: underline;
}

.footer-right p {
  margin: 10px 0;
}

.credits-list {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

.credits-list li {
  margin: 5px 0;
}

/* Responsive design */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
}