.footer {
  text-align: center;
  font-family: Arial, sans-serif;
  border-top: 2px solid rgba(0, 0, 0, 0.156);
  margin-top: auto;
  width: 100%;
  padding: 20px 0;
  background-color: #90A17D; 
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.5;
  background-color: #90A17D; 
}

.footer-content p {
  margin: 0;
  background-color: #90A17D; 
}

.footer-content a {
  color: #ffffff;
  text-decoration: none; 
  background-color: #90A17D; 
}

.footer-content p1{
  color: #f2f2f2;
  background-color:#90A17D;
  font-size: 14px;

}

.footer-content a:hover {
  text-decoration: underline;
}

.credits-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #90A17D; 
}

.credits-list li {
  margin: 5px 15px; 
  background-color: #90A17D; 
}

