.div-con {
    padding: 0;
    margin: 0;
    display: flex;
}

.add-reservation-form {
    display: flex;
    flex-direction: column;
    margin: 1%;
    border: 1px solid white;
    box-shadow: 0 15px 15px rgb(233, 233, 233);
    width: 30%;
    padding: 20px 40px; /* Reduce padding */
    background-color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

.add-reservation-title {
    text-align: center;
    margin-bottom: 0px;
    font-size: 25px; /* Reduce font size */
    color: white;
}

label {
    color: rgb(77, 227, 127);
    font-size: 16px; 
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3px; 
    padding: 1px;
}

.info1, .info2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; /* Adjust margin */
}

input {
    background-color: aliceblue;
    color: rgb(255, 255, 255);
    font-size: 14px; /* Reduce font size */
    padding: 8px; /* Reduce padding */
    border-radius: 5px; /* Reduce border-radius */
    border: 1px solid rgb(25, 21, 137);
    width: 100%;
    background-color: rgb(136, 134, 134)
}

.button {
    margin-top: 15px; /* Adjust margin */
    display: flex;
    justify-content: space-between;
}

.submit-button-reservation {
    background-color: rgb(43, 157, 51);
    width: 45%;
    padding: 8px; /* Reduce padding */
    border: none;
    border-radius: 5px; /* Reduce border-radius */
    color: white;
    cursor: pointer;
    font-size: 14px; /* Reduce font size */
}

.submit-button-reservation:hover {
    background-color: rgb(192, 117, 56);
}

.receipt-button {
    background-color: transparent;
    border: 2px solid white;
    padding: 8px; /* Reduce padding */
    border-radius: 5px; /* Reduce border-radius */
    text-align: center;
    cursor: pointer;
    font-size: 14px; /* Reduce font size */
    text-decoration: none;
    color: white;
    width: 45%;
}

.receipt-button:hover {
    color: rgb(197, 136, 136);
    border-color: rgb(197, 136, 136);
}
